<header>
    <menu>
        <ul>
            <li id="title_named">Список пользователей</li>
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="#">Регистрация</a>
            </li>
            <li>
                <a href="#">Войти</a>
            </li>
            <li>
                <a href="#">Список пользователей</a>
            </li>
        </ul>
    </menu>
</header>
<main>
    <div class="container">
        <ul>
            <!-- <%- users[0].login %> -->
            <% for(var i = 0; i < users.length; i++) { %>
            <li>Пользователь "<%- users[i].login %>". Пароль "<%- users[i].password %>"</li>
            <% } %>
        </ul>
    </div>
</main>